{{define "add"}}
<!DOCTYPE html>
<html lang="ko">
    {{template "head"}}

    <body>
    <main>
        <form>
            <input type="text" placeholder="Data for your block" required />
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}