{{define "home"}}
<!DOCTYPE html>
<html lang="ko">
    {{template "head" .PageTitle}}

    <body>
    <main>
        {{template "header" .PageTitle}}
        
        {{range .Blocks}}
            {{template "block" .}}
        {{end}}
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}